@page
@model InvoiceApp.Pages.ReceiptModel
@{
    ViewData["Title"] = "Receipt";
}


    <partial name="Shared/_AddInvoiceForm" model="Model.InvoiceForm"/>
    <div class="receipt-wrapper invoice-content">
        <a href="/" class="go-back-link">
            <img src="/assets/icon-arrow-left.svg" />
            <span>Go back</span>
        </a>

        <div>
            @if(TempData["ErrorMessage"] is not null)
            {
                <div class="receipt-details" style="margin-top: 2rem; display: flex;">
                    <h2>@TempData["ErrorMessage"]</h2>
                </div>
            }
            else if(TempData["SuccessMessage"] is not null)
            {
                <div class="receipt-details" style="margin-top: 2rem; display: flex;">
                    <h2>@TempData["SuccessMessage"]</h2>
                </div>
            }
            else
            {
                <div class="invoice-row-wrapper">
                    <div class="invoice-row">
                    <div class="status-box">
                        <span class="status-text">Status</span>
                        <partial name="Shared/_Status" model="@($"{Model.Receipt.Status}")" />
                    </div>

                    <div class="activity-btns-wrapper top">
                        <partial name="Shared/_ActivityBtns" />
                    </div>
                    </div>
                </div>

                <div class="receipt-details">
                <div class="biller-details">
                    <div class="invoice-id-box">
                        <h3 class="invoice-id">XM9141</h3>
                        <span class="service">
                            @Model.Receipt.Invoice.ProjectDescription
                        </span>
                    </div>

                    <div class="biller-address">
                        <span>@Model.Receipt.Biller.StreetAddress</span>
                        <span>@Model.Receipt.Biller.City</span>
                        <span>@Model.Receipt.Biller.PostCode</span>
                        <span>@Model.Receipt.Biller.Country</span>
                    </div>
                </div>

                <div class="payment-details">
                    <div class="date-wrapper">
                        <div class="date-box">
                            <h3>Invoice Date</h3>
                            <h4>@Model.Receipt.Invoice.InvoiceDate</h4>
                        </div>

                        <div class="date-box">
                            <h3>Payment Due</h3>
                            <h4>@Model.Receipt.PaymentDate</h4>
                        </div>
                    </div>

                    <div class="payer-details">
                        <h3>Bill To</h3>
                        <h4 class="payer-name">@Model.Receipt.Client.ClientName</h4>

                        <div class="payer-address">
                            <span>@Model.Receipt.Client.StreetAddress,</span>
                            <span>@Model.Receipt.Client.City,</span>
                            <span>@Model.Receipt.Client.PostCode,</span>
                            <span>@Model.Receipt.Client.Country</span>
                        </div>
                    </div>

                    <div class="sent-to-box">
                        <h3>Sent to </h3>
                        <h4>@Model.Receipt.Client.ClientEmail</h4>
                    </div>
                </div>

                <div class="mb-item-details">
                    @foreach(var item in Model.Receipt.Items)
                    {
                        <div class="mb-item-details-inner-wrapper">
                            <div>
                                <h4 class="mb-services">@item.Name</h4>
                                <div class="calc-box">
                                    <span class="mb-qty">@item.Quantity</span> x
                                    <span class="mb-unit-price">£@(item.Price)</span>
                                </div>
                            </div>
                            <span class="item-total-price">
                                £@((item.Quantity * item.Price).ToString("N"))
                            </span>
                        </div>
                    }
                </div>

                <div class="item-details item-table-wrapper">

                    <div class="table-box">
                    <table>
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>QTY.</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            @foreach(var item in Model.Receipt.Items)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Quantity</td>
                                    <td>£@item.Price.ToString("N")</td>
                                    <td>£@((item.Quantity * item.Price).ToString("N"))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    </div>
                </div>

                <div class="total-box">
                    <h3>Amount</h3>
                    <h4>£ @Model.Receipt.TotalPrice</h4>
                </div>
                </div>
            }
            

            
        </div>

        @if(TempData["ErrorMessage"] is null && TempData["SuccessMessage"] is null)
        {
            <div class="activity-btns-wrapper bottom">
                <partial name="Shared/_ActivityBtns" />
            </div>
        }


        @if(TempData["ErrorMessage"] is null && TempData["SuccessMessage"] is null)
        {
            <div class="hidden hidden-forms-container">
            <form id="delete-invoice-form" method="post" asp-page="/DeleteInvoice">
                <input name="InvoiceId" value="@Model.Receipt.Invoice.Uid" />
                <button type="submit">Submit</button>
            </form>

            <form id="mark-as-paid-form" method="post" asp-page="" >
                <input name="InvoiceId" value="@Model.Receipt.Invoice.Uid" />
            </form>
        </div>
        }
    </div>

    @section Scripts {
        <script src="js/receipt.js"></script>
    }

